<!DOCTYPE html>
<html>
	<head>
		<?php global $titulo; ?>
		<title><?php echo $titulo; ?></title>
	</head>
	<body>
		<?=$this->content?>
		<!-- Scripts -->
		<script src="plugins/jquery.min.js"></script>
		<script src="plugins/vue.min.js"></script>
		<script src="js/actions.js"></script>
	</body>
</html>
